* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

body {
    display: block;
    border: 3px;
    border-color: black;
    width: 100%;
}

header {
    display: flex;
}

header ul {
    list-style: none;
    display: block;

}

header li {
    display: inline-block;
    margin: 20px;
}

article {
    display: flex;
}

article aside {
    flex: 0 0 20%;
    text-align: right;
    padding: 20px;
    border-right-width: 5px;
    border-right-color: black;
    border-right-style: solid;

}

article p {
    flex: 0 0 80%;
    padding: 30px;


}

main {
    display: flex;
}

main aside {
    flex: 0 0 20%;
    text-align: right;
    padding: 20px;
    border-right-width: 5px;
    border-right-color: black;
    border-right-style: solid;

}

main section {
    flex: 0 0 80%;
    display: flex; 
    flex-wrap:wrap;
    padding: 20px;

}

.large-card {
    flex: 0 0 100%;
    padding: 10px;
}

img {
    border-radius: 5px;
}

.bottom-left {
    margin-top: -40px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 30px;
    color: white;
}

.small-cards {
    flex: 0 0 50%;
    padding: 10px;
 
}

section img {
    width: 100%
}

footer {
    display: flex;
}

footer h2 {
   
}

footer ul {
    list-style: none;
}

footer li {
    display: inline;
    margin: 20px;
}


@media screen and (max-width: 992px) {

  }
  

  @media screen and (max-width: 768px) {

  }
  

  @media screen and (max-width: 576px) {

  }